.drag-main {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;

  font-weight: bolder;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(2px);
  background-color: #0000002f;

  transition: opacity 100ms ease-out;
}

.drag-main.active {
  z-index: 1;
  opacity: 1;
}

.drag-main > #zone {
  position: absolute;
  height: 100%;
  width: 100%;
}

.drag-main > * {
  user-select: none;
}
